# Python cache files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
chatbot_env/

# Streamlit secrets
.secrets.toml

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore macOS system files
.DS_Store